:host {
  display: grid;

  gap: 0.5rem;

  grid-template:
    ' header  header  header '
    ' list    player  filters ' /
    1fr 2fr 1fr;
}

header {
  grid-area: header;
}

ns-video-list {
  grid-area: list;
}

ns-video-player {
  grid-area: player;
}
