/* You can add global styles to this file, and also import other style files */

@use '@picocss/pico/scss/pico';

app-root,
ns-dashboard,
ns-about,
ns-help,
ns-not-found,
ns-video-list,
ns-video-player {
  outline: 3px solid green;
  margin: 0.5rem;
  padding: 0.5rem;
}

.active-link {
  outline: 3px solid green;
  border-radius: 5px;
}

.highlighted {
  outline: 3px solid red;
}

.button-reset {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer; /* Restores the expected pointer indicator */
  text-align: inherit;

  margin-block-end: 1rem;
}
