/* You can add global styles to this file, and also import other style files */

@use '@picocss/pico/scss/pico';

app-root,
ns-about,
ns-help {
  outline: 3px solid yellow;
  margin: 1rem;
  padding: 1rem;
}
